html {
  font-family: sans-serif;
}
/*reset*/

.texten {
  font-family: cursive;
  text-align: center;
}

body {
  background-color: #848482;
}

html, body, div, article, p, h3, h4 {
  margin: 0;
  padding: 0;
}

.blyat {
  width: 300px;
  float: left;
  margin: .3em;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: solid;
  border-radius: 50px;
  border-width: 3px;
}
.blyat article {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  width: 300px;
  height: 300px;
  font-size: 1.2em;
  padding: 1em;
  margin-top: 0;
}

.naar-boven article {
  animation: naar-boven 1s forwards;
}
.naar-beneden article {
  animation: naar-beneden 1s forwards;
}
@-webkit-keyframes naar-beneden{
  10% {margin-top: -308px}
  30% {margin-top: -152px}
  50% {margin-top: -76px}
  70% {margin-top: -38px}
  90% {margin-top: -19px}
  20%, 40%, 60%, 80%, 100% {margin-top: 0}
}

@-webkit-keyframes naar-boven {
 10% {margin-top: 0}
 30% {margin-top: -156px}
 50% {margin-top: -225px}
 70% {margin-top: -270px}
 90% {margin-top: -290px}
 20%, 40%, 60%, 80%, 100% {margin-top: -308px}
}
.blyat:hover article {
  margin-top: -305px;
  cursor: pointer;
  /*animation: naar-boven .8s forwards;*/
}
.blyat article h3, .blyat article h4, .blyat article, p {
  padding: .4em;
}
footer {
  clear: left;
  background-color: rgba(0,0,0,.7);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

#validatie img {
    height: 2em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}
